<!DOCTYPE html>
<body>
<div style="text-align: center;">
<h1>InnerSpace</h1>

<img src="https://images.unsplash.com/photo-1556010656-e60700d4c0d5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8emVufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60"/>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1532009877282-3340270e0529?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8emVufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1567372704182-ec2ea042c937?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8emVufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1498813295229-27bd6c349cc8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHplbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=400&q=60" class="d-block w-100" alt="...">
    </div>
  </div>
</div>


</body>
</html>

